[submodule "station.localization"]
	path = station.localization
	url = https://github.com/ruuvi/station.localization.git
[submodule "Templates/swifty_vm_viper"]
	path = Templates/swifty_vm_viper
	url = https://github.com/viikufa/swifty_vm_viper.git

