<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925543306936-7kgoki02io1cmocq9qeg5rmt7rhg3u97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925543306936-7kgoki02io1cmocq9qeg5rmt7rhg3u97</string>
	<key>API_KEY</key>
	<string>AIzaSyB2BMG9ExTA2KIWNVErosjpjdLyXkfE1d4</string>
	<key>GCM_SENDER_ID</key>
	<string>925543306936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruuvi.station</string>
	<key>PROJECT_ID</key>
	<string>ruuvi-station-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>ruuvi-station-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:925543306936:ios:84f5fda343c52e7671c64d</string>
	<key>DATABASE_URL</key>
	<string>https://ruuvi-station-demo.firebaseio.com</string>
</dict>
</plist>
