<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ruuvi.station.BackgroundTaskServiceiOS13.webTagRefresh</string>
		<string>com.ruuvi.station.BackgroundProcessServiceiOS13.dataPruning</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ruuvi Station</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>384</string>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Allows user to claim a RuuviTag using NFC when the user has physical access to the sensor</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The app uses Bluetooth LE to read data from RuuviTag sensors.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The app uses Bluetooth LE to read data from RuuviTag sensors.</string>
	<key>NSCameraUsageDescription</key>
	<string>Ruuvi Station needs to access your camera in order to be able to capture photos and use them as tag background.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ruuvi Station needs to access your location in order to determine your position and show weather parameters for you live location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ruuvi Station needs to access your location while being in background in order to pull data for Virtual Sensors for your current location and display alerts.</string>
	<key>NSLocationUsageDescription</key>
	<string>Ruuvi Station needs to access your location in order to determine your position and show weather parameters for you live location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ruuvi Station needs to access your location in order to determine your position and show weather parameters for you live location.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ruuvi Station needs to access your camera roll to enable selecting the background for the tag.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>RuuviTagSelectionIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-SemiBoldItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
