.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
RuuviLocalization.swift
RuuviColor.swift
RuuviAsset.swift
Localizable.strings