name: Upload to Firebase

on:
  push:
    branches: [ github-actions-v1 ]

jobs:
  build:
    runs-on: macos-13-xl


    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.2'
        bundler-cache: true

    - name: Install dependencies
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3

    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Remove existing localisation directory
      run: rm -rf ${{ github.workspace }}/station.localization

    - name: Clone localisation submodule
      run: git clone -b dev https://github.com/ruuvi/station.localization.git ${{ github.workspace }}/station.localization

    - name: Cocoapods Cache
      uses: actions/cache@v2
      with:
        path: Pods
        key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
        restore-keys: |
                ${{ runner.os }}-pods-
    - name: CocoaPods Install
      run: pod install

    - name: Install Provisioning Profiles
      run: |
        bundle exec fastlane match adhoc -a com.ruuvi.station,com.ruuvi.station.widgets,com.ruuvi.station.intents,com.ruuvi.station.pnservice --readonly
        bundle exec fastlane match development -a com.ruuvi.station,com.ruuvi.station.widgets,com.ruuvi.station.intents,com.ruuvi.station.pnservice --readonly
      env:
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
        FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
        KEYCHAIN_PASSWORD: ${{ secrets. KEYCHAIN_PASSWORD }}
        LC_ALL: en_US.UTF-8
        LANG: en_US.UTF-8

    - name: Fastlane
      run: bundle exec fastlane --verbose upload_to_firebase build_number:407 scheme:station_dev
      env:
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
        FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
        KEYCHAIN_PASSWORD: ${{ secrets. KEYCHAIN_PASSWORD }}
        LC_ALL: en_US.UTF-8
        LANG: en_US.UTF-8